@import '@/_mixin.scss';
@import '@/_variable.scss';

.footer {
  display: flex;
  width: 100%;
  height: 13.75rem;

  @include mobile {
    flex-direction: column;
    height: 8.375rem;
  }
}

.footerLeftContainer {
  display: flex;
  align-items: center;
  width: 79.1%;
  padding-left: 2.5rem;
  background-color: $themeColor1;

  @include mobile {
    width: 100%;
    padding-left: unset;
    padding: 0.4rem 0.8rem;
  }
}

.footerRowFlex {
  display: flex;
  align-items: center;
  gap: 4.38rem;

  @include mobile {
    gap: 1rem;

    & > h4 {
      font-size: 0.5rem;
    }
  }
}

.footerLogoContainer {
  position: relative;
  width: 8.75rem;
  height: 2.25rem;

  @include mobile {
    width: 4rem;
    height: 1.125rem;
  }
}

.footerColumnFlex {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include mobile {
    gap: 0.7rem;
  }
}

.footerContentFlex {
  display: flex;
  gap: 3rem;

  @include mobile {
    gap: 0.8rem;
  }
}

.footerTextFlex {
  display: flex;
  gap: 1rem;

  @include mobile {
    gap: 0.5rem;
    & > h5 {
      font-size: 0.5rem;
    }
  }
}

.footerRightContainer {
  display: flex;
  align-items: center;
  width: 20.9%;
  padding-left: 3.75rem;
  background-color: $themeColor2;

  @include mobile {
    width: 100%;
    justify-content: center;
    padding-left: unset;
    padding: 0.33rem 0;
  }
}
