@import '@/_mixin.scss';

.navigationItem {
  text-decoration: none;

  & > h4 {
    @include mobile {
      font-size: 0.5rem;
    }
  }
}

.navigationItem:hover > h4 {
  color: rgba(255, 255, 255, 0.8);
}
