// Breakpoints
$breakpoint-xl: 1920px;
$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 480px;
$breakpoint-xs: 0;

// Colors
$white: #ffffff;
$black: #000000;
$success: #63b100;
$error: #f00;
$errorHover: #cc0000;
$warning: #ead200;
$themeColor1: #91591d;
$themeColor1Hover: #9b866e;
$themeColor2: #43270a;
$themeColor2Hover: #9b866e;
$themeColor3: rgba(90, 66, 37, 0.8);
$userIcon: #ffb660;
$myPageBackground: #fff5e9;
$divider: #cbcbcb;
$inputBorder: #8b8b8bb3;
