@import '@/_mixin.scss';

.globalLayout {
  max-width: 90rem;
  margin: 0 auto;
  background: url(/image/background.jpg) white 10% / contain;

  @include mobile {
    width: 100%;
    margin: 0;
  }
}

.main {
  width: 100%;
  overflow: hidden;
}
