@import '@/_mixin.scss';

.globalLayout {
  max-width: 90rem;
  min-height: 100%;
  margin: 0 auto;
  background: url(/image/background.jpg) white 10% / contain;

  @include mobile {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
}

.main {
  width: 100%;
  min-height: calc(100vh - 17.5rem);
}
