@import '@/_mixin.scss';
@import '@/_variable.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  padding: 0 2.5rem;

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.125rem;
    background-color: $themeColor3;
    padding: 0 1.25rem;
  }
}

.headerLogoContainer {
  position: relative;
  width: 6.25rem;
  height: 2.0625rem;
  text-decoration: none;

  @include mobile {
    display: none;
  }
}

.headerLogoContainerMobile {
  display: none;

  @include mobile {
    display: block;
    position: relative;
    width: 3.375rem;
    height: 0.875rem;
    text-decoration: none;
  }
}

.headerNavigationContainer {
  display: flex;
  align-items: center;
  gap: 4.375rem;

  @include mobile {
    display: none;
  }
}
